/*App*/
.menu_container{
    display: flex;
    align-items: stretch;
    position: -webkit-sticky;
    position: sticky;
    top:0px;
    background-color: #f8f5f1;
    z-index: 999;
    /* padding-top: 15px; */
    /* padding-bottom: 5px; */
}
.menu_text{
    /* border: solid 1px blue; */
    flex:3;
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    font-family: 'Courier New', Courier, monospace, sans-serif!important;
    text-transform: uppercase;   
}
.menu_logo{
    /* border: solid 1px blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex:1;
}

.menu_account{
    /* border: solid 1px blue; */
    flex:1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
a{
    color:black;
}

a:hover{
    color:#ce1212
}

/*HomeText*/
.homeText{
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    text-transform: uppercase;
    font-weight: normal;
}

/*HomeSlider*/
.homeSlider{
    --slider-height-percentage:40%!important;
    --organic-arrow-height: 40px!important;
    --organic-arrow-thickness: 6px!important;
}

/*FoodOrder */
.food_container{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.food_image_container{
    flex:1;
    /* border: solid 1px blue; */
}  


/*FoodText*/
.food_text_container{
    /* border: solid 1px blue; */
    flex:1 ;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-between;
}
.foodText{
    font-family: 'Courier New', Courier, monospace, sans-serif;
    text-align: center;
}

/*img*/
img{
    display:block;
    margin-left:auto;
    margin-right:auto;
    max-width:100%!important;
    height:auto
}

h1, h2, h3{
    font-weight: normal;
}