$font-primary: "Noto Serif SC", sans-serif;
$black-light: #303030;
$primary-background: #f9fbfc;
$fav-blue: #003797;

html, body {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 100%;
}

body{
    background-color: $primary-background;
}

a {
    color: unset;
    text-decoration: none;
}
a:hover, a:visited, a:link, a:active{
    text-decoration: none;
}

p{
    font-family: $font-primary;
}
.font_basic{
    font-family: $font-primary;
    color: #000000;
    padding: 0;
    margin: 0;
    font-weight: normal;
    letter-spacing: 0.15rem;
}
h1{
    @extend .font_basic;
    font-size: clamp(1rem, 8vw, 2rem);
}
h2{
    @extend .font_basic;
    font-size: clamp(1rem, 7vw, 1.5rem);
    font-weight: 500;
}
h3{
    @extend .font_basic;
    font-size: clamp(1rem, 5vw ,1.3rem);
}
h4{
    @extend .font_basic;
    font-size: clamp(1rem, 4vw, 1rem) 
}
h5{
    @extend .font_basic;
    font-size: clamp(0.6rem, 3vw, 0.8rem)
}

img{
    display:block;
    margin-left:auto;
    margin-right:auto;
    max-width:100%;
    height:auto
}

/*******RouteDesktop*******/
.router_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}
.desktop_logo{
    flex: 1;
}
.phone_logo{
    flex: 0.5
}
.desktop_space{
    flex:0.5
}
.phone_space{
    flex:0.5
}
.desktop_search{
    flex:1;
}
.phone_search{
    flex:1
}
.desktop_title{
    flex:2;
    display: flex;
    justify-content: space-around;
}
.phone_title{
    flex:0.2
}

/******HomeSlider********/
.home_slider{
    --slider-height-percentage:40%!important;
}
.home_slider_s{
    --slider-height-percentage:80%!important;
}

/*****DividerSusu********/

.divider_text{
    margin-bottom: 10rem;
    margin-top:9rem;
    font-style: italic;
    text-align: center;
    line-height: 2;
    padding-left: 2rem;
    padding-right: 2rem;
    color:$fav-blue;
    letter-spacing: 0.2rem; 
}

/*******HomeDish******/
.dish_container{
    display: flex;
    align-items:center;
    margin-bottom: 5rem;
    margin-left: 3rem;
    margin-right:5rem;
}
.phone_dish_container{
    display:flex;
    flex-direction: column;
    margin-bottom: 5rem;
}
.dish_img{
    flex:0.8;
}
.dish_main{
    flex:2.2;
}


/******FavDish******/
.dish_content{
    line-height: 1.8;
    text-align: justify;
    padding-left: 2rem;
    padding-right: 2rem;
}

/*home_group*/
.home_group_title{
    text-align: center;
    color:$fav-blue;
    margin-bottom: 1rem;
    margin-top: 2rem;

}
.home_group{
    margin-bottom:9rem;
    display:flex;
    justify-self: center;
    flex-direction: column;
}

/*home_withsu*/
.home_witchsu_container{
    display: flex; 
    align-items: center;
    margin-bottom: 10rem;
    
}
.home_witchsu_img{
    flex:1
}
.home_witchsu_main{
    flex:1;
    font-size: clamp(1rem, 2vw, 2rem);
    text-align: center;
    
}

.join_us{
    margin-bottom: 10rem;
    display:flex

}


/*RecipesByClass*/
.top_title{
    margin-top:1rem;
    margin-bottom: 0.5rem;
}
.tag_outline{
    border:0.1rem dashed
}