.WeekContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.food_container{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.food_image_container{
    flex:1;
    /* border: solid 1px blue; */
    min-height: 350px;
}  

.food_description_container{
    /* border: solid 1px blue; */
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-between;
}


.foodDescription{
    font-family: 'Courier New', Courier, monospace, sans-serif;
    columns: #4f614f;;
    text-align: center;
    font-size:x-large;
}

img{
    display:block;
    margin-left:auto;
    margin-right:auto;
    max-width:100%!important;
    height:auto
} 