@font-face {
    font-family: 'XianErTi';
    src: url('XianErTi.woff2') format('woff2'),
        url('XianErTi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

$primary-dark: #3b59a2;
$primary-light: #72a6ff;
$secondary-light:#d2a517;
$secondary-dark:#A96E00;
$third-light:#CE5820;
$third-dark:#B86900;
$white: #ffffff;
$black-light: #303030;
$black: #000000;
$font-primary: "Noto Sans", "Noto Sans CJK SC", sans-serif;

html {
    font-size: 62.5%;
}
body{
    margin-left: auto;
    margin-right: auto;
}
p{
    color:$black-light;
    font-family: $font-primary;
    letter-spacing: 5px;
}

/*App*/
.menu_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 5px;
}
.menu_text{
    flex:4;
    display: flex;
    text-align: center;
    justify-content: space-around;
    color: #000000;
    font-size: 2.2rem;
}
.menu_logo{
    flex:1;
    text-align: left;
}

a:hover, a:visited, a:link, a:active{
    text-decoration: none;
}

/*Home*/
.extraSpace{
    height: 50px;
}

/*HomeSlider*/
.homeSlider{
    --slider-height-percentage:40%!important;
    // --organic-arrow-height: 40px!important;
    // --organic-arrow-thickness: 6px!important;
    // margin-bottom: 80px;
}

/*DividerText*/
.dividerContainer{  
    margin-bottom: 3px;
    font-size: 2.2rem;
    border-radius:5%;  
    font-style: italic;
    text-align: center;     
}
.dividerText{
    line-height: 30px;
    padding-left: 50px;
    padding-right: 50px;
    color:#003797;
}
.dividerSu{
    color:#003797;
}

/*HomeImgText*/
.dishName{
    font-family: 'XianErTi';
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: -30px;
}
.homeImgTextContainer{
    display: flex;
    align-items: center;
}
.homePaperText{
    // border: solid 1px blue;
    flex:1.5;
    font-size: 2rem;
    line-height: 2;
}
.homeImg{
    // border: solid 1px blue;
    flex:1;
}


.toolbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    /* border: solid 1px blue; */
}
.toolbar_child{
    display:box
}



/*img*/
img{
    display:block;
    margin-left:auto;
    margin-right:auto;
    max-width:100%!important;
    height:auto
}

h1, h2, h3{
    font-weight: normal;
}